@import './components/header.css';
@import './components/section.css';
@import './components/card.css';
@import './components/long-card.css';
@import './components/footer.css';
@import './components/signup.css';

html {
  background-color: #F7F7F7;
  font-size: 16px;
  font-family: Helvetica;
  color: #45494A;
}
.container {
  padding: 0 1.5rem;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1,
h2 {
  color: firebrick;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h3,
p {
  line-height: 1.4;
}

@media only screen and (max-width: 470px) {
  .container {
    padding: 0;
  }
}
