/*footer.css*/
footer {
  border-top: 1px solid #E0E0E0; /*light gray*/
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  padding: 1rem 1.5rem;
  height: 4rem;
}
.footer-right span {
  margin-left: .5rem;
}

@media only screen and (max-width: 470px) {
  footer {
    height: auto;
    border-top: none;
    font-size: .9rem;
    padding: 1rem;
  }
  .footer-right {
    display: none;
  }
}
